h1{
    text-align: center;
    color: #0712ad;
}

.blog{
    background-color: white;
    height: 250px;
    width: 550px;
    margin: 40px auto;
    padding: 30px;
    border: 2px solid rgb(235, 231, 231);
    border-radius: 5px;
}

.ht{
    color: darkblue;
}

color: cornflowerblue;
.web{
    
}

